{{#each fullGameList as |game|}}
  <section data-id="{{game.id}}">
    <h6>Title:
      {{game.title}}
    </h6>
    <h6>System:
      {{game.system}}
    </h6>
    <h6>How Many Players:
      {{game.player_count}}
    </h6>
    <h6>How Many Sessions:
      {{game.sessions_count}}
    </h6>
    <h6>Description:
      {{game.description}}
    </h6>
    <h6>Start Date:
      {{game.start_date}}
    </h6>
    {{#if game.editable}}
    <form id="updateGame">
      <h3>Update Game!</h3>
      <input type='text' class="form-control" name="game_lists[title]" placeholder="Title" required/>
      <input type='text' class="form-control" name="game_lists[system]" placeholder="System" required/>
      <input type='text' class="form-control" name="game_lists[player_count]" placeholder="Player Count" required/>
      <input type='text' class="form-control" name="game_lists[sessions_count]" placeholder="Sessions Count" required/>
      <input type='text' class="form-control" name="game_lists[description]" placeholder="Description" required/>
      <input type='date' class="form-control" name="game_lists[start_date]" placeholder="Start Date" required/>
      <button type="submit" class="btn btn-info update-game">Update</button>
    </form>
      <button type="submit" class="btn btn-danger delete-game">Remove</button>
    {{/if}}
  </section>
{{/each}}
